<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1 style="text-align: center;">Angular Pipes Implementation</h1>
      <h1 style="text-align: center;"><caption>List of Top 20 Travel Cities in India</caption></h1>
      <table class="table table-success table-bordered table-striped align-middle">
        <thead>
          <tr>
            <th>No.</th>
            <th>City Name</th>
            <th>City Nickname</th>
            <th>City Image</th>
            <th>Visit Time</th>
            <th>City Rating</th>
            <th>Description</th>
          </tr>
        </thead>

        <tbody>
           <tr *ngFor="let city of indianCitiesData">
            <td>{{city.serialNo}}</td>
            <td>{{city.cityName}}</td>
            <td>{{city.cityNickname}}</td>
            <td>
              <img style="width: 200px;" src="{{city.cityImage}}" alt="">
            </td>
            <td>{{city.bestTimeToVisit}}</td>
            <td>{{city.cityRating}}</td>
            <td>{{city.description}}</td>     
           </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
