<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--database connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/india_tourist_gems</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>

        <!-- Format SQL nicely in logs -->
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically create the database schema -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="com.shimbhu.model.Gems"/>
        <mapping class="com.shimbhu.model.embeddable_objects.TouristPlace"/>
        <mapping class="com.shimbhu.model.one_to_one_mapping.Husband"/>
        <mapping class="com.shimbhu.model.one_to_one_mapping.Wife"/>
        <mapping class="com.shimbhu.model.one_to_many_mapping.Author"/>
        <mapping class="com.shimbhu.model.one_to_many_mapping.Book"/>
        <mapping class="com.shimbhu.model.many_to_many_mapping.Writer"/>
        <mapping class="com.shimbhu.model.many_to_many_mapping.Publication"/>

    </session-factory>

</hibernate-configuration>
